@page "/fetchdata"


@using Bimorph.WebApi.Core
@inject WebClientService WebClientService
@inject BimorphTypeFactory BimorphTypeFactory

<h1>Get Bimorph Object Test</h1>

<p>This component demonstrates fetching data from a service.</p>


<input placeholder="Bimorh object Id" @bind="BimorphId" />
<button class="btn btn-primary" @onclick="this.FetchDataCollectionFromServer">Fetch </button>

@code {

    [Parameter]
    public string BimorphId { get; set; }

    public void FetchDataCollectionFromServer()
    {
        string urlGetBy = "https://localhost:44360/DataNodes/"+BimorphId;

        string jObject = WebClientService.GetRequest(urlGetBy);

       var objects = BimorphTypeFactory.CreateBimorphObjects(jObject);

    }
}
